@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rhodium+Libre&family=Shanti&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f3f4;
}
.front{
    background-image: url(id-bg.png);
    width: 300px;
    height: 450px;
    background-size: cover;
    border-radius: 10px;
}

.back{
    background-image: url(id-bg.png);
    width: 300px;
    height: 450px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    width: 140px;
    margin-bottom: 5rem;
    margin-left: 5px;
}
.round {
    margin-top: 1rem;
    margin-left: 20px;
    width: 130px;
    border-radius: 50%;
    border: 1px solid #000;
}
.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #1E1E24;
    font-family: 'Merriweather', serif;
    font-size: 1.7rem;
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 4.5rem;
}
h2{
    color: #1E1E24;
    font-family: 'Merriweather', serif;
    text-align: center;
}
h4{
    color: #1E1E24;
    font-family: 'Rhodium Libre', serif;
    text-align: center;
    margin-bottom: 10px;
}
p{
    color: #1E1E24;
    font-family: 'Shanti', sans-serif;
    text-align: center;
}
hr{
    color: #A2B5CB;
    width: 60%;
}

.qrcode{
    width: 150px;
}

@media screen and (max-width:680px) {
    .container{
        flex-direction: column;
        height: auto;
    }
    .front,.back{
        margin: 3rem 0;
    }
}