@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #EC5FA5;
}

.left-menu{
    background-color: white;
    position: relative;
    width: 4.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .5s ease ;
    overflow: hidden;
}
.left-menu:hover{
    width: 14rem;
}


.logo{
    width: 50px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 100%;
    z-index: 100;
    position: absolute;
}
.logo span{
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.logo span a{
    position: relative;
    left: 180px;
    color: hotpink;
    font-size: 18px;
    display: table;
    text-align: left;
    width: 300px;
    text-decoration: none;
    padding: 10px;

}

.left-menu ul{
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.left-menu ul li a {
    display: flex;
}

ul li {
    list-style: none;
    margin-bottom: .6rem;
    align-items: center;
    transition: all .4s ease;
}
ul li a {
    padding: 0.5rem;
    color: rgb(236, 92, 140);
    text-decoration: none;
}


ul li a i{
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s linear;
    margin-right: 1.7rem;
}

.sidebar-item i {
    width: 20px;
    height: 20px;
    text-align: center;
}

#profile{
    position: absolute;
    bottom: 3.6rem;
}
#settings{
    position: absolute;
    bottom: .6rem;
}

.left-menu ul li:hover {
    transform: translateX(.4rem);
    transition: all .4s linear;
}

.left-menu ul li:hover .fa-solid,
.left-menu ul li:hover a {
    font-weight: bold;
    color: purple;
}
