@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #1b2134;
    color: #fa91b7;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    margin: 1rem 0;
}
img{
    width: 20rem;
}
.timer{
    border: 1px solid #fa91b7;
    margin-top: 2rem;
    padding: 1.5rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
}
.timer p{
    margin: 0 0.9rem;
}
.colon{
    font-size: 2rem;
}

@media screen and (max-width:800px) {
    .timer{
        width: 60%;
    }
}
@media screen and (max-width:520px){
    .timer{
        width: 85%;
    }
    .colon{
        font-size: 1.5rem;
    }
    img{
        width: 18rem;
    }
}

@media screen and (max-width:420px){
    .timer {
            width: 95%;
        }
    
        .colon {
            font-size: 1.2rem;
        }
    
        img {
            width: 15rem;
        }
}
@media screen and (max-width:370px){
    .timer {
            width: 95%;
        }
        .timer p{
            margin: 0 0.5rem;
        }
        .colon {
            font-size: 1rem;
        }
    
        img {
            width: 12rem;
        }
}